streamlit==1.36.0
streamlit_authenticator==0.3.2
streamlit_extras==0.4.3
streamlit-reveal-slides
langchain==0.2.9
langchainhub==0.1.20
langchain-community==0.2.6
langchain_core==0.2.21
langchain_openai==0.1.17
langfuse==2.39.3
pypdf==4.3.1
numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
scikit-learn==1.5.2
chromadb==0.5.0
docarray==0.40.0
jupyterlab==4.3.1
datasets==3.1.0
sentence_transformers==3.3.1
pymupdf==1.24.14
scikit-lego==0.9.3
altair==5.5.0
google-search-results
ragas
matplotlib
fastembed